@page
@model Duplet_x_school.Pages.SchoolClasses.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SchoolClass</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SchoolClass.Name" class="control-label"></label>
                <input asp-for="SchoolClass.Name" class="form-control" />
                <span asp-validation-for="SchoolClass.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="table">
                    <table>
                        <tr>
                        @{
                            int cnt = 0;

                            foreach (var subject in Model.AssignedSubjectDataList)
                            {
                                if (cnt++ % 3 == 0)
                                {
                                    @:</tr><tr>
                                }
                                @:<td>
                                <input type="checkbox"
                                       name="selectedSubjects"
                                       value="@subject.SubjectId"
                                       @(Html.Raw(subject.Assigned ? "checked=\"checked\"" : "")) />
                                @subject.SubjectId @:  @subject.Title
                                @:</td>
                            }
                            @:</tr>
                        }
                    </table>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
